<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxsm.mybatis.mapper.UserMapper">

    <select id="getByName" resultType="com.slxsm.mybatis.domain.UserModel">
        <![CDATA[SELECT * FROM t_user WHERE name = #{value} LIMIT 1]]>
    </select>
    
    <select id="getByMap" resultType="com.slxsm.mybatis.domain.UserModel">
        <![CDATA[SELECT * FROM t_user WHERE id = #{id} OR name = #{name}]]>
    </select>

    <select id="getListByUserFindDTO" parameterType="com.slxsm.mybatis.domain.UserFindDTO" resultType="com.slxsm.mybatis.domain.UserModel">
        <![CDATA[SELECT * FROM t_user WHERE id = #{userId} OR name = #{userName}]]>
    </select>

    <select id="getByIdOrName" resultType="com.slxsm.mybatis.domain.UserFindDTO">
        <![CDATA[SELECT * FROM t_user WHERE id = #{arg0} OR name = #{arg1}]]>
    </select>

    <select id="getListByIdCollection" resultType="com.slxsm.mybatis.domain.UserModel">
        <![CDATA[SELECT * FROM t_user WHERE id in (#{collection[0]},#{collection[1]})]]>
    </select>

    <select id="getList" resultType="com.slxsm.mybatis.domain.UserModel">
        <![CDATA[SELECT * FROM t_user]]>
    </select>
</mapper>